@font-face {
   font-family: 'Frijole';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/alabi/Desktop/Tests/fonts/Frijole/regular.ttf') format('truetype');
}
